.delete {
	cursor: pointer;
}
.select {
	width: 8rem;
	/* height: 33px; */
	padding: 5px;
	border-radius: 5px;
	background-color: white;
}

.smallInput {
	width: 60%;
	border: none;
	padding: 5px;
	border-bottom: solid 2px lightgray;
}
