.top-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}
.arrowL {
	width: 6%;
	float: left;
	margin-top: -1.5%;
	cursor: pointer;
}
.arrowR {
	width: 6%;
	float: right;
	margin-top: -4.5%;
	cursor: pointer;
}

.submit {
	background-color: #f76b8a;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffffff;
	border: none;
}
.radio-div {
	display: inline;
	font-weight: 400;
	font-size: medium;
}
