.top-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.radio-div {
	display: inline;
	font-weight: 400;
	font-size: medium;
}

.number-response-input {
	width: 8rem;
	border-radius: 5px;
	padding: 5px;
}

.text-response-input {
	width: calc(100% - 14px);
	border-radius: 5px;
	padding: 5px;
}
