.login-layout {
	display: flex;
	justify-content: center;
	margin-top: 20vh;
}

.board {
	width: 80%;
}

.loginHead {
	text-align: center;
	background-color: #66bfbf;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}
.loginHtml {
	background-color: #ffffff;
	border-radius: 10px;
	padding: 20px;
}

.loginInputs {
	width: 100%;
}
.login-input {
	width: calc(100% - 8px);
	padding: 3px;
	margin-bottom: 10px;
}

.loginButtons {
	text-align: center;
	width: 100%;
	margin-top: 20px;
}
.creatnewaccountButton {
	/* background-color: rgb(18, 119, 9); */
	background-color: #ffffff;
	border: none;
	color: #66bfbf;
	text-decoration: underline;
	margin-top: 10px;
	cursor: pointer;
}

.login-button {
	width: 50%;
	background-color: #66bfbf;
	border-radius: 10px;
	color: white;
	border: none;
	height: 32px;
	margin: 2px;
	margin-bottom: 10px;
	cursor: pointer;
}

.signup-buttons {
	text-align: center;
	width: 100%;
}
.signup-button {
	background-color: #66bfbf;
	border-radius: 10px;
	color: white;
	border: none;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 3px;
	margin-bottom: 10px;
	cursor: pointer;
}
.error {
	color: red;
}

@media screen and (max-width: 600px) {
	.board {
		width: 100%;
	}

	.login-layout {
		margin-top: 0;
	}

	.login-button {
		width: 100%;
	}
}
