.navbar {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}
.title {
	margin: 0;
}
.profileImage {
	cursor: pointer;
	width: 45px;
	height: 45px;
}
.links {
	display: flex;
}
.link {
	margin-right: 20px;
}

@media screen and (max-width: 600px) {
	.title {
		display: none;
	}
}
