.navbar {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
}
.title {
	margin: 0;
}
.profileImage {
	cursor: pointer;
	width: 50px;
	height: 50px;
}
.links {
	display: flex;
	margin-left: 10px;
}
.link {
	margin-right: 30px;
	font-weight: 400;
}

@media screen and (max-width: 600px) {
	.title {
		display: none;
	}
}
