.profile-block {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.photo {
	background-color: white;
	border-radius: 3%;
	margin: 1%;
	padding-bottom: 1%;
	font-size: large;
	font-weight: bold;
	margin-bottom: 3%;
}

.chooseNewImage {
	border-radius: 10px;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #66bfbf;
	cursor: pointer;
}

.logout {
	cursor: pointer;
	text-decoration: underline;
	margin: 10px;
}

input[type="file"] {
	position: fixed;
}

.removeImage {
	cursor: pointer;
	text-decoration: underline;
}

.profile-input {
	border: solid 1px gray;
	width: calc(100% - 24px);
	border-radius: 5px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
