.signHtml{
  background-color: white;
  border-radius: 10px;
  width: 70%;
  margin-left: 15%;
  margin-top: 30%;
}
  .tit{
    margin: 3%;
  }
  .signButton{
    width: 100%;
    background-color: rgb(74, 123, 230);
    border-radius: 12px;
    color: #ebecec;
    border: none;
    height: 32px;
    margin: 2px;
  }
  .signinInputs{
    margin-top:10% ;
    width: 90%;
    padding-top: 12%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .loginEmail{
    width: 100%;
    margin-bottom: 5px;
  }
  .loginPassword{
    width: 100%;
  }
  .loginButtons{
    text-align: center;
    width: 100%;
  }
  .signinButtons{
    text-align: center;
    width: 100%;
    margin-top: -20px;
  }
  .signupButton{
    background-color: #66bfbf;
    border-radius: 12px;
    color: white;
    border: none;
    height: 32px;
    margin-top: 3px;
    margin-bottom: 10px;
    width: 100px;
  }
  .error{
    color: red;
    margin:1%;
  }
 
  .cross{
    float: right;
    width: 6%;
    margin: 2%;
  }
  @media screen and (max-width: 600px) {
      .signHtml{
        width: 100vm;
        height: fit-content;
       
      }
      .signButton{
        width: 100%;
        background-color: rgb(74, 123, 230);
        border-radius: 12px;
        color: #b1aeae;
        border: none;
        height: 32px;
        margin: 2px;
      }
      .loginEmail{
        width: 100%;
        margin-bottom: 5px;
      }
      .loginPassword{
        width: 100%;
      }
      .signinButtons{
        text-align: center;
        width: 100%;
        margin-top: -20px;
      }
      .signupButton{
        background-color: #24a519;
        border-radius: 12px;
        color: white;
        border: none;
        height: 32px;
        margin-top: 3px;
        margin-bottom: 3px;
        width: 100px;
      }
      .error{
        color: red;
        margin:1%;
      }
  }