.bar{
    margin-top: 5%;
    margin-bottom: 10%;
}
.viewData{
    display: inline;
}
.textData{
    background-color: rgba(235, 233, 233, 0.404);
    padding-bottom: 2%;
    padding-top: 1%;
    padding-left: 2%;
    margin-top: 5%;
    overflow: scroll;
    border-radius: 10px;
    height: 5%;
}
.dateBlock{
    float: left;
    border: none;
}
.responseBlock{
    border: solid 0.5px;
    margin-left: 15%;
}