/* Global CSS Variables: https://www.w3schools.com/css/css3_variables.asp */
/* Reference these in your CSS to get the same color as the mockups */
:root {
	--actionBackgroundColor: #f76b8a;
	--actionTextColor: white;
	--activeColor: #66bfbf;
	--standardBackgroundColor: #fcfefe;
	--alternativeBackgroundColor: #eaf6f6;
	--standardTextColor: black;
	--lightColor: lightgray;
	--moderateColor: darkgray;
}

body {
	background-color: var(--alternativeBackgroundColor);
	padding: 0;
}

::-webkit-scrollbar {
	display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline-color: var(--activeColor);
}

select {
	border-color: var(--moderateColor);
}

input[type="text"] {
	border-color: var(--lightColor);
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
	transform: scale(1.01);
}

.main {
	width: 100%;
	max-width: 600px;
}

.question-input {
	/* border: solid 2px; */
	width: calc(100% - 14px);
	/* height: 25px; */
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
}

.middle {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	font-size: large;
	font-weight: bold;
	margin-bottom: 12px;
}

.save-button {
	background-color: #f76b8a;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

.in {
	font-weight: 400;
	margin-bottom: 5px;
	font-size: medium;
}

/* @media screen and (max-width: 600px) {
	.main {
		width: 100%;
	}
} */
